@import url('https://fonts.googleapis.com/css?family=Codystar:300&display=swap');

body
{
	background: #232323;
	margin: 0;
	font-family: 'Raleway', sans-serif;
}

.square
{
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 10px;
	transition: font 0.6s;
}

#container
{
	margin: 10px auto;	
	max-width: 650px;
}

h1
{
	color: white;
	font-size: 40px;
	text-align: center;
	background-color: steelblue;
	margin: 0;
	letter-spacing: 4px;
	padding: 20px 0;
	line-height: 1.5;
	animation: glow 2s ease-in-out infinite alternate;
}

#stripe
{
	height: 30px;
	background: white;
	text-align: center;
	margin: 0 auto;
}


.selected
{
	background-color: steelblue;
	color: white;
}

#guessColorDisplay
{
	font-size: 180%;
	transition: text 0.5s;
}

#messageDisplay
{
	font-weight: 700;
	/*width: 40%;*/
	padding:0 40px;
}

#reset
{
	padding: 0;
}

button
{
	padding: 0 40px;
	letter-spacing: 1.5px;
	border : none;
	height: 100%;
	font-weight: 700;
	text-transform: uppercase;
	background: none;
	color: steelblue;
	transition: all 0.3s;
}

button:hover
{
	background: steelblue;
	color: white;
}

#help
{
	padding:0 30px;
}

#score
{
	font-weight: 700;
}

#lost
{
	font-weight: 700;
}